# frozen_string_literal: true

class CreateProductToursPosts < ActiveRecord::Migration<%= migration_version %>
  def change
    create_table :product_tours_posts<%= primary_key_type_option %> do |t|
      t.string :key, null: false
      t.string :locale, null: false
      t.string :status, null: false, default: "draft"
      t.string :title, null: false
      t.text :video_url
      t.json :video_metadata, null: false, default: {}
      t.string :action_label
      t.text :action_url
      t.string :action_post_key

      t.timestamps
    end

    add_index :product_tours_posts, %i[locale key], unique: true
    add_index :product_tours_posts, :status

    reversible do |direction|
      direction.up do
        ProductTours::Seeds.load_for_install!
      end
    end
  end
end
